# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

pbr>=2.0 # Apache-2.0

# general requirements
oslo.config
pydantic<2
pyyaml

# driver requirements
futurist
manhole
neutron-lib
neutron
prometheus_client

# arista agent
pygnmi==0.8.3

# nxos agent
requests

# tool requirements
pynetbox>=6
requests
